/*///////////////////////// Struct //////////////////////
///////////////// A CSS3 framework //////////////////////
///////////////////////////////////////////////////////*/
html,body{height: 100%; width:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}


/* Box Model */

*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	

/* ////////////// Grid design //////////////// */
	.grid
	{
		width:100%;
	}

	.grid > *
		{
			float: left;
		}

	.grid:after 
		{
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

	.grid:first-child > * 
		{
			padding-top: 0 !important;
		}
		
/*/////////// grid padding ///////////*/
	/* Default */

	.grid > *
		{
			padding-left: 2em;
		}
	.grid + .grid > * 
		{
			padding: 2em 0 0 2em;
		}
	.grid
		{
			margin-left: -2em;
		}
		
		
		/* Half */

	.grid.half > *
		{
			padding-left: 1em;
		}
	.grid + .grid.half > * 
		{
			padding: 1em 0 0 1em;
		}
	.grid.half
		{
			margin-left: -1em;
		}
		
		/* Quarter */

	.grid.quarter > *
		{
			padding-left: 0.5em;
		}
	.grid + .grid.quarter > * 
		{
			padding: 0.5em 0 0 0.5em;
		}
	.grid.quarter
		{
			margin-left: -0.5em;
		}
		
		/* Three Quarter */

	.grid.3quarter > *
		{
			padding-left: 1.5em;
		}
	.grid + .grid.3quarter > * 
		{
			padding: 1.5em 0 0 1.5em;
		}
	.grid.3quarter
		{
			margin-left: -1.5em;
		}
		
		/* Neutralize */

	.grid.neutral > *
		{
			padding-left: 0;
		}
	.grid + .grid.neutral > * 
		{
			padding: 0;
		}
	.grid.neutral
		{
			margin-left: 0;
		}

/* ////////////////////// Block width classes /////////////////////// */
	
	.b12 { width: 100% }
	.b11 { width: 91.6666666667% }
	.b10 { width: 83.3333333333% }
	.b9 { width: 75% }
	.b8 { width: 66.6666666667% }
	.b7 { width: 58.3333333333% }
	.b6 { width: 50% }
	.b5 { width: 41.6666666667% }
	.b4 { width: 33.3333333333% }
	.b3 { width: 25% }
	.b2 { width: 16.6666666667% }
	.b1 { width: 8.3333333333% }
	
	
/* ///////////////////// Navigation bars ////////////////////////*/

	.navbar.stretch
		{
			width:100%;
			min-height: 3em;
		}
	.navbar.squeeze
		{
			display: inline-block;
			text-align: center;
			min-height: 3em;
		}
	.navbar
		{
			background-color: rgba(70,70,70,0.8);
			border: 1px solid transparent;
		}
	.fixed
		{
			position: fixed;
			top:0;
			left: 0;
		}
	.navbar.affix
		{
		}
